.footer {
    width: 94vw;
    /* height: 20vh; */
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 15px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    /* overflow: hidden; */
}

/* .footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
} */

.footer-main-items{
    /* border: 1px solid black; */
    text-align: center;
}